/** Copyright Themius 2019 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root
{
    --default-font: Arial;

    --bg-dark: rgb(67, 60, 70);
    --bg-light: rgb(255, 255, 255);
    --bg-dark-alt: rgb(53, 53, 53);
    --bg-purple: rgb(131, 76, 132);

    --color-grey: rgb(120, 120, 120);

    --border-color: 1px solid rgba(188, 188, 188, 0);
}

html,
body
{
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    padding: 0px;
    margin: 0;
    height: 100%
}

::-webkit-scrollbar 
{width: 6px;}
::-webkit-scrollbar-track 
{background: #f1f1f1;}
::-webkit-scrollbar-thumb 
{background: #888;}
::-webkit-scrollbar-thumb:hover 
{background: #555;}

/* Classes */
.app-dark
{
    background: var(--bg-dark);
    color: white;
}

.app-light
{
    background: var(--bg-light);
    color: black;
}

.container
{
    border: var(--border-color);
    vertical-align: middle;

    margin: auto;
    width: 80%;

    padding: 10px;
}

/* Elements */
a
{
    color: rgb(217, 95, 228);
    text-decoration: none;
}
a:hover
{
    color: rgb(228, 105, 239);
    cursor: pointer;
}

header
{
    color: var(--color-grey);
}

header[type="25"]
{
    font-size: 25px;
}

header[type="45"]
{
    font-size: 45px;
    font-weight: 800;
}

/* <nav> Grid Format */
nav
{
    border: var(--border-color);
    padding: 10px;

    color: white;
    background: var(--bg-purple);
}

nav .logo
{
    vertical-align: top;
    font-size: 30px;
    font-weight: bolder;
}

nav .logo span
{
    font-weight: 700;
    text-align: center;
}

nav .logo img
{
    border-radius: 4px;
}

nav .logo .title
{
    padding-right: 5px;
    padding-left: 5px;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li
{
    display: inline;
}

nav li .nav-link 
{
    color: rgb(222, 221, 221);
    text-decoration: none;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li .active
{
    color: #f5f5f5;
    font-weight: 700;
}

/* <main> Grid Format */
main 
{
    border: var(--border-color);
    padding: 10px;
    
    overflow: none;
    white-space: no-wrap;
    vertical-align: middle;

    min-height: 100%;
    position: relative;
}

/* <sidebar> Grid Format */
sidebar
{
    border: var(--border-color);
    padding: 10px;

    position: absolute;
    left: 9.8%;
    right: 74%;
    bottom: 50%;
    top: 2%;

    width: auto;
    max-height: 100%;
}

sidebar ul 
{
    list-style:decimal-leading-zero;
    color: var(--color-grey);
}

/* <content> Grid Format */
content
{
    border: var(--border-color);
    overflow: auto;
    padding: 10px;

    position: absolute;
    left: 27%;
    right: 9.8%;
    bottom: 36%;
    top: 2%;

    width: auto;
    max-height: 100%;
}

content article .header-link
{
    color: transparent;
    font-size: 35px;
}

content article .header-link:hover
{
    color: var(--color-grey);
}

/* <footer> Grid Format */
footer
{
    border: var(--border-color);
    padding: 10px;

    color: white;
    background: var(--bg-dark-alt);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
}

/** TODO: @media sizing */