.themius-welcome
{
    padding: 24px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0px !important;
    transform: translate(-50%, -50%); 
    width: 50%;

    background: var(--black-A200);
    color: white !important;

    /* make top */
    z-index: 9999999999;
}