/*** 
 ** Echo Rebranded Theme By JohnyMcreed.
 * Domain: https://rogershs.echo-ntn.org/
**/

/** Color Palatte */
:root 
{
	/* Rainbow Transition length */
	--ng-ease-fit: 30s;
	--ng-animation-fit: 50s;
	
	/* Transparent Colors */
	--ng-ts-red: #ff24006e;
	--ng-ts-yred: #e81d1d52;
	--ng-ts-yellow: #e8b71d59;
	--ng-ts-ygreen: #e3e81d5c;
	--ng-ts-green: #1de8404f;
	--ng-ts-gblue: #1ddde866;
	--ng-ts-purple: #2b1de857;
	--ng-ts-ppink: #dd00f354;
	--ng-ts-pink: #dd00f378;
	
	/* Nontransparent Colors */
	--ng-red: #c91c00;
	--ng-yred: #c02d2d;
	--ng-yellow: #c59b17;
	--ng-ygreen: #b8bc0e;
	--ng-green: #1c9a31;
	--ng-gblue: #269298;
	--ng-purple: #2b1de8;
	--ng-ppink: #a518b4;
	--ng-pink: #90199c;
	
	/* Normal Color Pallate */
	--ng-white: #fff;
	--ng-grey: #808080;
	--ng-bg-grey: #424242;
	--ng-liniar-grey: #5c5c5c;
}

/** App Elements */
html
{
	background: var(--ng-bg-grey) !important;
}

/** Primary Elements */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
i,
b 
{
	color: var(--foreground-text) !important;
	font-weight: lighter !important;
	font-language-override: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.ng-star-inserted .fab
{
	font-family: "Font Awesome 5 Brands" !important;
    font-weight: 400 !important;
}

/** Webkit Scrollbar Element */
::-webkit-scrollbar 
{
    width: 4px;
    height: auto;
}
::-webkit-scrollbar-track /* Background Bar */
{
	background: transparent;
}
::-webkit-scrollbar-thumb /* Background */
{
	background: rgb(170,74,74);
	background: linear-gradient(
		33deg, 
		rgba(170,74,74,1) 0%, 
		rgba(125,125,255,1) 52%,
		rgba(77,225,255,1) 100%
	);
}
::-webkit-scrollbar-thumb:hover 
{
    background:#666;
}

/** App Loader Circles */
.app-loading circle
{
	fill: var(--ng-grey);
}

/** Keyframe Rainbow Effect */
@-webkit-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow 
{ 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/** Login Page */
.ng-star-inserted .logo-ct 
{
	display: none !important;
}
.ng-star-inserted .buzz-login-logo
{
	display: none !important;
}
.ng-star-inserted .buzz-login-background /* Login Buzz Background */
{
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(
		124deg,
		var(--ng-red),
		var(--ng-yred),
		var(--ng-yellow),
		var(--ng-ygreen),
		var(--ng-green),
		var(--ng-gblue),
		var(--ng-purple),
		var(--ng-ppink),
		var(--ng-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.ng-star-inserted .main-toolbar 
{
	background: transparent !important;
	box-shadow: none !important;
}
.ng-star-inserted .main-toolbar .mat-form-field .mat-input-element
{
	box-shadow: none !important;
	background: transparent !important;
}
.ng-star-inserted .buzz-login-content .buzz-login-content-title
{
	width: 100% !important;
	height: 100% !important;
	align-self: center !important;
	font-weight: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

/** Sidebar */
.ng-star-inserted .mat-drawer-backdrop /* Sidebar Background */
{
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(
		124deg, 
		var(--ng-ts-red), 
		var(--ng-ts-yred), 
		var(--ng-ts-yellow), 
		var(--ng-ts-ygreen), 
		var(--ng-ts-green), 
		var(--ng-ts-gblue), 
		var(--ng-ts-purple), 
		var(--ng-ts-ppink), 
		var(--ng-ts-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.mat-divider-horizontal, /* Divider Bar Background */
mat-divider
{
	background: var(--ng-grey) !important;
	height: 0px !important;
}
.side-menu-logo,
.side-menu-logo-ct /* Padding Backboard */
{
	display: none !important;
}

/** Tab Header */
.ng-star-inserted .mat-tab-group .mat-tab-header /* Header Background */
{
	background: transparent !important;
}
.ng-star-inserted .app-title,
.ng-star-inserted .app-title-ct,
.ng-star-inserted .app-focus-overlay
{
	display: none !important;
	background: rgba(0, 0, 0, 0) !important;
	opacity: 0 !important;
}
.mat-badge-content 
{
	background: var(--ng-liniar-grey) !important;
}
.ng-star-inserted .user-menu-button .user-name /* Name Flex Field Fix */
{
	flex-direction: row !important;
	column-gap: 5px !important;
}
.ng-star-inserted .user-menu-button lib-profile-picture /* Name Avatar */
{
	margin: -10px;
	max-width: 2rem;
	height: auto;
}
.ng-star-inserted .user-menu-button lib-profile-picture img
{
	border-radius: 100px;
	max-width: 2rem;
	height: auto;
}
.ng-star-inserted .user-menu-button mat-icon /* Drop Down Icon */
{
	display: none !important;
}
.ng-star-inserted .toolbar
{
	background: var(--card-background) !important;
}
.ng-star-inserted .mat-toolbar,
.ng-star-inserted .main-toolbar
{
	background: transparent !important;
}

/** Course Page (Courses Only) */
.ng-star-inserted .home-ct /* Course Background */
{
	width: 100% !important;
	height: auto !important;
	
    height: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	overflow: auto !important;
}
.ng-star-inserted .course-card /* Course Cards */
{
	margin: 10px !important;
	height: auto !important;
	width: 15rem !important;
	border-radius: 0px !important;
}
.ng-star-inserted .mat-card-title-group
{
	padding-top: 10px !important;
}
.ng-star-inserted .detail-ct 
{
	display: none !important;
}
.ng-star-inserted .header-buttons /* Announccment Button */
{
	display: none !important;
}

/** TO-DO Page */
.ng-star-inserted app-student-to-do .mat-card
{
	width: 100% !important;
	height: auto !important;
}
.ng-star-inserted app-student-to-do 
{
	padding: 24px 16px 0px;
}

/** Activity Stream */
.ng-star-inserted app-student-stream .mat-card
{
	max-width: 100% !important;
	height: auto !important;
}
.ng-star-inserted app-student-stream
{
	padding: 24px 16px 0px;
}

/** Theme Page */
.ng-star-inserted app-choose-theme div .mat-card
{
	max-width: 100% !important;
	height: auto !important;
}

/** Inside Course Page */
.ng-star-inserted .color-band /* Color band */
{
	background: rgb(170,74,74);
	background: linear-gradient(
		33deg, 
		rgba(170,74,74,1) 0%, 
		rgba(125,125,255,1) 52%,
		rgba(77,225,255,1) 100%
	);
}
.ng-star-inserted .color-band .course-dates
{
	display: none !important;
}
.ng-star-inserted .app-background /* Course Background */
{	
	background: linear-gradient(
		124deg,
		var(--ng-red),
		var(--ng-yred),
		var(--ng-yellow),
		var(--ng-ygreen),
		var(--ng-green),
		var(--ng-gblue),
		var(--ng-purple),
		var(--ng-ppink),
		var(--ng-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.ng-star-inserted .course-progress 
{
	display: none !important;
}
.ng-star-inserted .projects,
#cur-proj-id
{
	display: none !important;
}
.ng-star-inserted .fr-view * /* Agend Form View */
{
	background: var(--card-background) !important;
	list-style: none !important;
	/*padding-left: 5px;*/
}
.ng-star-inserted .fr-view table,
.ng-star-inserted .fr-view table thead,
.ng-star-inserted .fr-view table thead tr,
.ng-star-inserted .fr-view table thead th,
.ng-star-inserted .fr-view table tbody,
.ng-star-inserted .fr-view table tbody tr,
.ng-star-inserted .fr-view table tbody td
{
	border: 2px solid var(--foreground-text) !important;
}
.ng-star-inserted .fr-view table /* Table Size Correction */
{
	margin-left: auto;
    margin-right: auto;
	
	width: 100% !important;
}
.no-agenda /* No-Agenda Popup Change */
{
	background: linear-gradient(
		33deg, 
		rgba(170,74,74,1) 0%, 
		rgba(125,125,255,1) 52%,
		rgba(77,225,255,1) 100%
	);
	
	font-size: 20px;
	font-style: normal !important;
	text-align: center !important;
	padding: 10px;
}
.ng-star-inserted .comments-ct .fr-element *, /* Form Field Fix */
.ng-star-inserted .fr-element *
{
	color: var(--ng-bg-grey) !important;
	background: var(--ng-white) !important;
}
.ng-star-inserted .card-ct .submission
{
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
}
.ng-star-inserted lib-html-editor .fr-element #isPasted:before /* Inserts a text to warn the user that ECHO detected this paste */
{
	content:"This wlll be detected by Teachers for Plagiarism/Copying \a";
	color: #bf2626 !important;
	
	font-size: 10px;
	text-decoration: none !important;
	font-style: italic;
	padding-bottom: 4px;
	
	font-weight: 400px;
	white-space: pre !important;
} 

.ng-star-inserted lib-html-editor .fr-element #isPasted /* Detects if what you type is pasted (helps stop teachers from detecting this) */
{
	background: #fdbf1652 !important;
	padding: 2px !important;
}
.ng-star-inserted .activity-html lib-managed-html .content *
{
	font-size: 18px !important;
}

/** Grading Toolbar */
.ng-star-inserted .links-ct .links .intro
{
	display: none !important;
}
.ng-star-inserted .toolbar-grade .sbg-color *, /* Global Grade Background Color */
.ng-star-inserted .toolbar-grade .sbg-color .letter, /* Grade Background/Color */
.ng-star-inserted .sbg-color *
{
	color: var(--ng-bg-grey) !important;
}
.ng-star-inserted .toolbar-grade .s-status-feedback /* Feedback icon */
{
	padding: 10px !important;
}
.ng-star-inserted .toolbar-grade .sbg-icon
{
	display: none !important;
}
mat-tree mat-tree-node[aria-expanded="true"] a div /* Hint to a open folder */
{
	font-weight: bolder;
	background: #72727291;
	border-radius: 4px;
}

/** Grading Page */
.ng-star-inserted .data-row .data-cell .rubric-row .table .rubric-header * /* Global Rubric Header */
{
	color: var(--ng-grey) !important;
}

.ng-star-inserted .data-row .data-cell .rubric-row .table .selected .rubric-rule-description * /* Global Selected Row */
{
	width: 100%;
	height: 100%;
	background: #455A64 !important;
}

/** Anounncement Page */
app-announcement-detail.ng-star-inserted /* NG-App Announcements */
{
	background: var(--ng-bg-grey) !important;
}
app-announcement-detail.ng-star-inserted lib-managed-html *
{
	color: var(--ng-white) !important;
}

/** Form Field */
.ng-star-inserted .search-bar
{
	margin: 0px !important;
}

/** Translation Popups */
.translation 
{
	display: none !important;
}

/** Skip Nav Popup */
.skip-nav
{
	display: none !important;
}
