/*** 
 ** Echo Rebranded Theme By JohnyMcreed.
 * Domain: https://rogershs.echo-ntn.org/
**/

/** Color Palatte */
:root 
{
	/* Rainbow Transition length */
	--ng-ease-fit: 30s;
	--ng-animation-fit: 50s;
	
	/* Transparent Colors */
	--ng-ts-red: #ff24006e;
	--ng-ts-yred: #e81d1d52;
	--ng-ts-yellow: #e8b71d59;
	--ng-ts-ygreen: #e3e81d5c;
	--ng-ts-green: #1de8404f;
	--ng-ts-gblue: #1ddde866;
	--ng-ts-purple: #2b1de857;
	--ng-ts-ppink: #dd00f354;
	--ng-ts-pink: #dd00f378;
	
	/* Nontransparent Colors */
	--ng-red: #c91c00;
	--ng-yred: #c02d2d;
	--ng-yellow: #c59b17;
	--ng-ygreen: #b8bc0e;
	--ng-green: #1c9a31;
	--ng-gblue: #269298;
	--ng-purple: #2b1de8;
	--ng-ppink: #a518b4;
	--ng-pink: #90199c;
	
	/* Normal Color Pallate */
	--ng-white: #fff;
	--ng-grey: #808080;
	--ng-bg-grey: #424242;
	--ng-liniar-grey: #5c5c5c;
}

/** Primary Elements */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
i,
b 
{
	color: var(--ng-white) !important;
	font-weight: normal !important;
	font-language-override: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

/** Keyframe Rainbow Effect */
@-webkit-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow 
{
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow 
{ 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/** Login Page */
.ng-star-inserted .logo-ct 
{
	display: none !important;
}
.ng-star-inserted .buzz-login-logo
{
	display: none !important;
}
.ng-star-inserted .buzz-login-background /* Login Buzz Background */
{
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(
		124deg,
		var(--ng-red),
		var(--ng-yred),
		var(--ng-yellow),
		var(--ng-ygreen),
		var(--ng-green),
		var(--ng-gblue),
		var(--ng-purple),
		var(--ng-ppink),
		var(--ng-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.ng-star-inserted .main-toolbar 
{
	background: transparent !important;
	box-shadow: none !important;
}
.ng-star-inserted .main-toolbar .mat-form-field .mat-input-element
{
	box-shadow: none !important;
	background: transparent !important;
}
.ng-star-inserted .buzz-login-content .buzz-login-content-title
{
	width: 100% !important;
	height: 100% !important;
	align-self: center !important;
	font-weight: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

/** Sidebar */
.ng-star-inserted .mat-drawer-backdrop /* Sidebar Background */
{
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(
		124deg, 
		var(--ng-ts-red), 
		var(--ng-ts-yred), 
		var(--ng-ts-yellow), 
		var(--ng-ts-ygreen), 
		var(--ng-ts-green), 
		var(--ng-ts-gblue), 
		var(--ng-ts-purple), 
		var(--ng-ts-ppink), 
		var(--ng-ts-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.side-menu-logo
{
	display: none !important;
}

/** Tab Header */
.ng-star-inserted .mat-tab-group .mat-tab-header /* Header Background */
{
	background: transparent !important;
}
.mat-badge-content 
{
	background: var(--ng-liniar-grey) !important;
}

/** Course Page (Courses Only) */
.ng-star-inserted .home-ct /* Course Background */
{
	width: 100% !important;
	height: auto !important;
	
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	overflow: scroll !important;
}
.ng-star-inserted .course-card /* Course Cards */
{
	margin: 10px !important;
	height: auto !important;
	width: 15rem;
}
.ng-star-inserted .header-buttons /* Announccment Button */
{
	display: none !important;
}

/** Inside Course Page */
.ng-star-inserted .color-band /* Color band */
{
	background: rgb(170,74,74);
	background: linear-gradient(
		33deg, 
		rgba(170,74,74,1) 0%, 
		rgba(125,125,255,1) 52%,
		rgba(77,225,255,1) 100%
	);
}
.ng-star-inserted .color-band .course-dates
{
	display: none !important;
}
.ng-star-inserted .fr-view a,
.ng-star-inserted .fr-view a *
{
	color: grey !important;
	text-decoration: none !important;
}
.ng-star-inserted .app-background /* Course Background */
{	
	background: linear-gradient(
		124deg,
		var(--ng-red),
		var(--ng-yred),
		var(--ng-yellow),
		var(--ng-ygreen),
		var(--ng-green),
		var(--ng-gblue),
		var(--ng-purple),
		var(--ng-ppink),
		var(--ng-pink)
	);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow var(--ng-ease-fit) ease infinite;
	-z-animation: rainbow var(--ng-ease-fit) ease infinite;
	-o-animation: rainbow var(--ng-ease-fit) ease infinite;
  	animation: rainbow var(--ng-animation-fit) ease infinite;
}
.ng-star-inserted .course-progress 
{
	display: none !important;
}
.ng-star-inserted .projects,
#cur-proj-id
{
	display: none !important;
}
.ng-star-inserted .fr-view * /* Agend Form View */
{
	background: var(--ng-bg-grey) !important;
	list-style: none !important;
	padding-left: 5px;
}

/** Translation Popups */
.translation 
{
	display: none !important;
}
