@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

a:link,
a
{
    text-decoration: none;
}

::-webkit-scrollbar 
{width: 6px;}
::-webkit-scrollbar-track 
{background: #f1f1f1;}
::-webkit-scrollbar-thumb 
{background: #888;}
::-webkit-scrollbar-thumb:hover 
{background: #555;}

.bg-primary-alt /* CONTEXT OF BOOTSTRAP */
{
    background-color: rgb(137, 45, 160) !important;
}

.bg-dark-alt
{
    background: rgb(42, 43, 58);
    color: white !important;
}

.bg-light-alt
{
    background: white !important;
    color: black !important;
}

.more-centered
{
    width: 70% !important;
    border-radius: 0px !important;
}

.more-bold 
{
    font-weight: 700 !important;
    color: white !important;
}

.more-right
{
    display: inline-flex;
    float: right;
}

.text-white
{
    color: white !important;
}

.navbar-tog-alt
{
    position: absolute; 
    left: 10px; 
    border: 0px !important; 
    border-radius: 0px;
    color: transparent !important;
}

.grid-layout
{
    display: flex;
    height: 100%;
    margin-top: 1.5rem;
}

.grid-start
{
    margin-left: auto;
    margin-right: auto;
    max-width: 68.7%;
}

.header-link
{
    color: transparent !important;
    font-size: 30px;
}

.header-link:hover
{
    color: rgb(99, 99, 99) !important;
}

.fqa-header
{
    cursor: pointer;
}

.back-to-top 
{
    position: fixed;
    top: 3rem;
    right: 45%;
    left: 45%;
    border-radius: 0px !important;
    background: rgb(27, 27, 27) !important;
    display: none;
}

.default-btn
{
    border-radius: 0px !important;
    background: rgb(27, 27, 27) !important;
}

.allow-zoom:hover 
{
  transform: scale(1.5);
  cursor: zoom-in;
}

#log 
{
    width: 80%;
    height: 30vh;
    background: rgb(54, 54, 54);
    resize: none;
    color: #dadada;
}