/** Copyright Themius 2019 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root
{
    /* Follows the app theme */
    --app-background: rgb(67, 60, 70);
    --app-background-darker: rgb(60, 50, 65);
    --foreground-text: white;

    --bg-dark: rgb(67, 60, 70);
    --bg-light: rgba(238, 238, 238, 0.808);
    --bg-dark-alt: rgb(53, 53, 53);
    --bg-purple: rgb(131, 76, 132);

    --color-grey: rgb(122, 122, 122);
    --color-pink: rgb(217, 95, 228);
    --color-pink-darker: rgb(163, 74, 171);
    --color-pink-lighter: rgb(233, 130, 242);

    /* Set to 255 for ALPHA to see grid layout */
    --border-color: 1px solid rgba(219, 219, 219, 0);
}

html,
body
{
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;

    padding: 0px;
    margin: 0;
    height: 100%;

    background: var(--app-background);
    color: var(--foreground-text);

    cursor: url('../img/cursor.cur'), auto;

    z-index: 0;
}

/* Scrollbar */
::-webkit-scrollbar 
{width: 3px; z-index: 1;}
::-webkit-scrollbar-track 
{background: #8585859c;}
::-webkit-scrollbar-thumb 
{background: rgb(85, 85, 85);}
::-webkit-scrollbar-thumb:hover 
{background: rgb(96, 54, 112);}

/* Selection */
::selection
{
    background: var(--bg-dark-alt);
    color: white;
    font-weight: 700;
}

/* Classes */
.container
{
    border: var(--border-color);
    vertical-align: middle;

    margin: auto;
    width: 80%;

    padding: 10px;

    user-select: none;
    -moz-user-select: none;
}
.content-default-btn
{
    border-radius: 0px !important;
    background: var(--bg-dark-alt) !important;
    
    padding: 10px;
    box-shadow: black;
    color: white;
}
.content-to-top-btn 
{
    border-radius: 0px !important;
    
    padding: 10px;
    box-shadow: black;
    color: var(--foreground-text);

    z-index: 2;

    float: right;
    position: sticky;
    right: 2px;
    bottom: 0px;
}
.content-edit-page-btn
{
    border-radius: 0px !important;
    background: transparent !important;
    
    z-index: 2;

    padding: 10px;
    color: var(--foreground-text);

    position: sticky;
    float: right;
    right: 2px;
    top: 0px;
}

/* Ids */
#log
{
    width: 80%;
    height: 30vh;
    background: var(--bg-dark-alt);
    border: none;
    resize: none;
    color: #c8c8c8;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Elements */
a
{
    color: var(--color-pink);
    text-decoration: none;
}
a:hover
{
    color: var(--color-pink-lighter);
    cursor: url('../img/hand.cur'), auto;
}
b
{
    color: var(--color-pink-darker);
    font-weight: 800;
}
code
{
    color: var(--color-pink-darker);
    font-weight: 200;
    font-stretch: semi-condensed;
}
header
{   
    color: var(--color-grey);
}
header[type="25"]
{
    font-size: 25px;
}
header[type="35"]
{
    font-size: 35px;
}
header[type="45"]
{
    font-size: 45px;
    font-weight: 800;
}

/* <nav> Grid Format */
nav
{
    border: var(--border-color);
    padding: 10px;

    white-space: no-warp;

    color: white;
    background: var(--bg-purple);
    
    z-index: 4;
    position: relative;
}
nav .to-right
{
    position:relative;
    top: -2rem;
    float: right;

    border: var(--border-color);
    padding: 15px;

    font-size: 30px;
    max-width: 7%;

    user-select: none;
    -moz-user-select: none;
}
nav .to-right a
{
    color: white;
}
nav .to-left
{
    position:relative;
    float: left;

    border: var(--border-color);

    vertical-align: middle;

    font-size: 30px;

    user-select: none;
    -moz-user-select: none;

    visibility: hidden;
}
nav .to-left a
{
    color: white;
}
nav .logo
{
    vertical-align: top;
    font-size: 30px;
    font-weight: bolder;
}
nav .logo span
{
    font-weight: 700;
    text-align: center;
}
nav .logo img
{
    border-radius: 4px;
}
nav .logo .title
{
    padding-right: 5px;
    padding-left: 5px;
}
nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li
{
    display: inline;
}
nav li .nav-link 
{
    color: rgb(222, 221, 221);
    text-decoration: none;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: var(--border-color);
}
nav li .nav-link:hover
{
    font-weight: 600;
    color: white;
}
nav li .active
{
    color: #f5f5f5;
    font-weight: 700;
}

/* navbar drawer */
nav .drawer
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bg-dark-alt);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
nav .drawer .close
{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 50px;
    color: white;
}
nav .drawer .drawer-list a
{
    padding: 20px 20px 20px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
nav .drawer .drawer-list a:hover
{
    color: rgb(231, 231, 231);
    font-size: 32px;
}
nav .drawer .drawer-list a
{
    color: white;
}

/* <main> Grid Format */
main 
{
    border: var(--border-color);
    padding: 10px;
    
    overflow: none;
    white-space: no-wrap;
    vertical-align: middle;

    z-index: 3;

    min-height: 100%;
    position: relative;
}

/* <sidebar> Grid Format */
sidebar
{
    border: var(--border-color);
    padding: 10px;

    position: absolute;
    left: 9.8%;
    right: 74%;
    bottom: 50%;
    top: 2%;

    width: auto;
    max-height: 100%;

    z-index: 2;
}
sidebar ul 
{
    list-style:decimal-leading-zero;
    color: var(--color-grey);
}
sidebar li span
{
    color: var(--color-pink);
}

/* <content> Grid Format */
content
{
    border: var(--border-color);
    overflow: auto;
    padding: 10px;

    position: absolute;
    left: 27%;
    right: 9.8%;
    bottom: 32%;
    top: 2%;

    width: auto;
    max-height: 100%;
    
    white-space: no-wrap;
    
    z-index: 2;
}

/* <footer> Grid Format */
footer
{
    border: var(--border-color);
    padding: 10px;

    color: white;
    background: var(--bg-dark-alt);
    white-space: no-warp;

    z-index: 4;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; 
}

/* Tool Tip */
[tip] .tooltip 
{
    position: fixed;
    font-size: 12px;
    line-height: 20px;
    padding: 5px;

    text-align: left;

    max-width: 10%;
    vertical-align: middle;
    align-content: center;
    text-align: center;

    background: var(--app-background);
    color: var(--foreground-text);

    visibility: hidden;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);

    z-index: 4;

    opacity: 0;
    transition:
        opacity 0.5s,
        visiblity 0s;
}
[tip]:hover .tooltip 
{
    z-index: 4;
    visibility: visible;
    opacity: 1;
}

/* Prettify color schema */
pre.prettyprint 
{
	white-space: pre-wrap;
	padding:10px 30px;
	margin:0;
	font-size:14px;
}
pre.prettyprint script.pre-script{display:block;}
pre .str, code .str { color: #3fc451; } /* string */
pre .kwd, code .kwd { color: #da903b; } /* keyword */
pre .com, code .com { color: #665f5f; font-style: italic; } /* comment */
pre .typ, code .typ { color: #66d9ef; } /* type */
pre .lit, code .lit { color: #c52e2e; } /* literal */
pre .pun, code .pun { color: rgb(199, 199, 199); } /* punctuation */
pre .pln, code .pln { color: rgb(49, 145, 209); } /* plaintext */
pre .tag, code .tag { color: #f92672; } /* html/xml tag */
pre .atn, code .atn { color: #a6e22a; } /* html/xml attribute name */
pre .atv, code .atv { color: #e6db74; } /* html/xml attribute value */
pre .dec, code .dec { color: #ae81ff; } /* decimal */
pre.prettyprint, code.prettyprint 
{
	background: var(--app-background-darker);
	font-family: consolas, menlo, courier, monospace;
	padding: 4px;
	width: 96.2%;
    border: 0px;
}   
ol.linenums 
{
	margin-top: 0;
	margin-bottom: 0;
	color: #75715e;
	list-style: decimal inside !important;
}
@media print 
{
	pre.prettyprinted, pre.prettyprint, code.prettyprint 
    {
		background-color:#fff;
		color:#000;
	}

	pre .str, code .str { color: #060; }
	pre .kwd, code .kwd { color: #006; font-weight: bold; }
	pre .com, code .com { color: #600; font-style: italic; }
	pre .typ, code .typ { color: #404; font-weight: bold; }
	pre .lit, code .lit { color: #044; }
	pre .pun, code .pun { color: #440; }
	pre .pln, code .pln { color: #000; }
	pre .tag, code .tag { color: #006; font-weight: bold; }
	pre .atn, code .atn { color: #404; }
	pre .atv, code .atv { color: #060; }
}

/* Media Min Content */
@media screen and (max-width: 700px) 
{
    nav .to-right,
    nav ul:not(.drawer-list),
    nav .title,
    nav .logo
    {
        display: none;
    }
    nav .to-left
    {
        visibility: visible;
    }
}
@media screen and (max-width: 1130px) 
{
    sidebar
    {
        display: none;
    }

    content
    {
        position: absolute;
        left: 9.8%;
        right: 9.8%;
        bottom: 32%;
        top: 2%;
    }
}
