/**
 * - Themius Design V4 (https://johnymcreed.github.io/Themius/)
 * ‣ This is the themius design for ECHO (https://rogershs.echo-ntn.org/) that makes
 * supers powerful changes to the website.
 * 
 * - Socials 
 * ‣ https://github.com/johnymcreed/Themius
 * ‣ https://johnymcreed.github.io/Themius/
**/

@import url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/fonts/cabin.css"); /* Google Fonts: Cabin */
@import url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/fonts/emoji.css"); /* Emoji Support */

:root {
  /* These are the fonts the website will be changed with */
  --t-font: "Cabin", sans-serif; /* Removes Fancy; Make Cabin */
  --t-emoji: "Noto Color Emoji", sans-serif; /* Emoji Support */

  /* These are confiurations for the page */
  --t-agenda-font-size: 18px; /* This is the agenda font size */
  --t-course-desc-font-size: 15px; /* This is the courses desc font size */

  /* These are global settings for backend stuff */
  --t-glob-animation-time: 0.5s; /* Animation period for elements */

  /* These are all the :after/:before Content items */
  --t-login-title: "Rogers New Technology Highschool";
  --t-copyright: "Redesign by Mcreed";
  --t-no-agenda: "This current day has no agenda";
  --t-warn-txt: "* You should still add an avatar if you haven't as other people and teachers will still see this.";
  --t-checkmark: "✓";

  /* These are for modals */
  --t-modal-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --t-scrollbar-shadow: rgba(0, 0, 0, 0.5);
  --t-modal-border: 5px;

  /* These are images used in the website */
  --t-light-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/lights.png"); /* Used when dark */
  --t-dark-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/darks.png"); /* Used when light */
  --t-login-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/darks.png"); /* Login background */
  --t-loader-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/loader.jpg"); /* Loader background */
  --t-band-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/color-bands.jpg"); /* Sidebar Icons */

  /* These are colors for the entire page theme */
  --t-dark: black; /* Black */
  --t-dark200: #000000e0;
  --t-dark700: #000000ba;
  --t-white: white; /* White */
  --t-white200: #ffffffe0;
  --t-white700: #ffffffba;
  --t-grey: grey; /* Grey */
  --t-grey200: #1d1c1ce0;
  --t-grey700: #1d1c1cba;
  --t-fail-r: #cd3c32; /* Fail: Red */
  --t-pass-g: #57cb6d; /* Pass: Green */
  --t-warn-o: #ffb500; /* Warn: Orange */
}

:root body.app-light-theme /* Requested Variables for LIGHT */ {
	--t-theme: var(--t-white);
  --t-theme200: var(--t-white200);
  --t-theme700: var(--t-white700);
  --t-theme-image: var(--t-light-bg), var(--primary-400);
	
	/* Backends */
  --t-theme-text: var(--t-dark);
  --t-theme-hover: var(--primary-400);
  --t-theme-border: var(--t-dark);
}

:root body.app-dark-theme /* Requested Variables for DARK */ {
	--t-theme: var(--t-dark);
  --t-theme200: var(--t-dark200);
  --t-theme700: var(--t-dark700);
  --t-theme-image: var(--t-darkt-bg), var(--primary-400);
	
	/* Backends */
  --t-theme-text: var(--t-white);
  --t-theme-hover: var(--primary-400);
  --t-theme-border: var(--t-white);	
}

:root body.app-light-theme.app-theme-red { --t-theme-modal: #ffebeee0; } 
:root body.app-light-theme.app-theme-pink { --t-theme-modal: #fce4ece0; } 
:root body.app-light-theme.app-theme-purple { --t-theme-modal: #f3e5f5e0; } 
:root body.app-light-theme.app-theme-deep-purple { --t-theme-modal: #ede7f6e0; } 
:root body.app-light-theme.app-theme-indigo { --t-theme-modal: #e8eaf6e0; } 
:root body.app-light-theme.app-theme-blue { --t-theme-modal: #e3f2fde0; } 
:root body.app-light-theme.app-theme-light-blue { --t-theme-modal: #e1f5fee0; } 
:root body.app-light-theme.app-theme-cyan { --t-theme-modal: #e0f7fae0; } 
:root body.app-light-theme.app-theme-teal { --t-theme-modal: #e0f2f1e0; } 
:root body.app-light-theme.app-theme-green { --t-theme-modal: #e8f5e9e0; } 
:root body.app-light-theme.app-theme-light-green { --t-theme-modal: #f1f8e9e0; } 
:root body.app-light-theme.app-theme-lime { --t-theme-modal: #f9fbe7e0; } 
:root body.app-light-theme.app-theme-amber { --t-theme-modal: #fff8e1e0; } 
:root body.app-light-theme.app-theme-orange { --t-theme-modal: #fff3e0e0; } 
:root body.app-light-theme.app-theme-deep-orange { --t-theme-modal: #fbe9e7e0; } 
:root body.app-light-theme.app-theme-brown { --t-theme-modal: #efebe9e0; } 
:root body.app-light-theme.app-theme-grey { --t-theme-modal: #fafafae0; } 
:root body.app-light-theme.app-theme-blue-grey { --t-theme-modal: #eceff1e0; } 
:root body.app-light-theme.app-theme-high-contrast { --t-theme-modal: var(--t-white700); }
