/**
 * - Themius Design V4 (https://johnymcreed.github.io/Themius/)
 * ‣ This is the themius design for ECHO (https://rogershs.echo-ntn.org/) that makes
 * supers powerful changes to the website.
 * 
 * - Socials 
 * ‣ https://github.com/johnymcreed/Themius
 * ‣ https://johnymcreed.github.io/Themius/
**/

@import url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/fonts/cabin.css"); /* Google Fonts: Cabin */
@import url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/fonts/emoji.css"); /* Emoji Support */

:root {
  /* These are the fonts the website will be changed with */
  --t-font: "Cabin", sans-serif; /* Removes Fancy; Make Cabin */
  --t-emoji: "Noto Color Emoji", sans-serif; /* Emoji Support */

  /* These are confiurations for the page */
  --t-agenda-font-size: 18px; /* This is the agenda font size */
  --t-course-desc-font-size: 15px; /* This is the courses desc font size */

  /* These are global settings for backend stuff */
  --t-glob-animation-time: 0.5s; /* Animation period for elements */

  /* These are all the :after/:before Content items */
  --t-login-title: "Rogers New Technology Highschool";
  --t-copyright: "Redesign by Mcreed";
  --t-no-agenda: "This current day has no agenda";
  --t-warn-txt: "* You should still add an avatar if you haven't as other people and teachers will still see this.";
  --t-checkmark: "✓";

  /* These are for modals */
  --t-modal-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --t-scrollbar-shadow: rgba(0, 0, 0, 0.5);
  --t-modal-border: 5px;

  /* These are images used in the website */
  --t-light-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/lights.png"); /* Used when dark */
  --t-dark-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/darks.png"); /* Used when light */
  --t-login-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/darks.png"); /* Login background */
  --t-loader-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/loader.jpg"); /* Loader background */
  --t-band-bg: url("https://raw.githubusercontent.com/johnymcreed/Themius/Default/themes/img/color-bands.jpg"); /* Sidebar Icons */

  /* These are colors for the entire page theme */
  --t-d: black; /* Black */
  --t-d200: #000000e0;
  --t-d700: #000000ba;
  --t-w: white; /* White */
  --t-w200: #ffffffe0;
  --t-w700: #ffffffba;
  --t-g: grey; /* Grey */
  --t-g200: #1d1c1ce0;
  --t-g700: #1d1c1cba;
  --t-fail-r: #cd3c32; /* Fail: Red */
  --t-pass-g: #57cb6d; /* Pass: Green */
  --t-warn-o: #ffb500; /* Warn: Orange */
}

html,
body,
app-root /* By DEFAULT make the background black */ {
  background: var(--t-d) !important;
}

app-root /* App-root covers the entire page and is our primary background */ {
  margin: 0px !important;
  background: var(--t-d) !important;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute !important;
}

html,
body,
div,
span,
ul,
ol,
li,
p /* These are what we change the fonts to */ {
  font-family: var(--t-emoji) !important;
  font-family: var(--t-font) !important;
  font-style: normal !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--t-scrollbar-shadow) !important;
}

:root app-root>svg.app-loading /* App Loader */ {
  border-radius: 10px;
  box-shadow: none !important;

  background-image: var(--t-loader-bg) !important;
  padding: 100px;

  transform: translate(-50%, -50%);
  white-space: nowrap;

  position: absolute !important;
  left: 50%;
  top: 50%;
}

/**
 *  LOGIN PAGE 
 *  ‣ The very first page you see so we must make sure we give a good impression
 *  on what you will see once you login into ECHO.
**/
app-before-login app-login /* Login Body */ {
  margin: 0px !important;
  padding: 0px !important;
}

app-before-login app-login mat-toolbar.mat-toolbar /* Login Toolbar */ {
  background: transparent !important;
  height: 0px !important;
}

app-before-login app-login .buzz-login-background /* Login Background */ {
  background: var(--t-login-bg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

app-before-login app-login mat-toolbar form {
  background: var(--t-d200) !important;
  border-radius: var(--t-modal-border) !important;
  box-shadow: var(--t-modal-shadow) !important;

  padding: 100px;
  transform: translate(-50%, -50%);
  white-space: pre;

  transition: var(--t-glob-animation-time);

  position: absolute;
  left: 50%;
  top: 50%;
}

app-before-login app-login mat-toolbar form:before /* Title */ {
  content: var(--t-login-title);

  font-size: 30px;
  color: var(--t-w) !important;

  transition: var(--glob-aimation-period);

  width: 100%;
  top: 15%;
  position: absolute;
}

app-before-login app-login mat-toolbar form:after /* Copyright */ {
  content: var(--t-copyright);

  font-size: 15px;
  color: var(--t-w) !important;

  transition: var(--glob-aimation-period);

  bottom: 15%;
  left: 15%;
  position: absolute;
}

app-before-login app-login mat-toolbar form button /* Push "Login" to the right more */ {
  margin-left: 10px !important;
  color: var(--t-w) !important;
}

app-before-login app-login mat-toolbar form input /* TODO: get rid of this dumb background */ {
  all: revert !important;
  outline: none !important;
  background: transparent !important;

  text-shadow: none !important;

  border: 0px !important;
  box-shadow: none !important;

  margin: 0 !important;
  width: 98% !important;
  max-width: 100% !important;

  vertical-align: bottom !important;
  text-align: left !important;
}

/**
 *  SIDE NAVIGATION
 *  ‣ This is the side nav that you use to go to courses or get help 
 *  we absolutly need this since it is where most of the buttons ares.
**/
mat-sidenav .mat-divider /* Sidebar-divider */ {
  background: var(--t-b-txt) !important;
  border-top-width: 1px !important;
}

.ng-star-inserted mat-sidenav,
.ng-star-inserted mat-sidenav .mat-drawer-inner-container /* Kill scrollbar */ {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.ng-star-inserted .mat-drawer-backdrop /* Sidebars background */ {
  background: var(--t-b700) !important;
}

.ng-star-inserted mat-sidenav {
  background: var(--t-b200) !important;
}

.course-color {
  background-image: var(--t-band-bg) !important;
  background-size: 24px 24px;
}

/**
 *  PAGES
 *  ‣ Edits page backgrounds, paddings, and bascially setup the page to function
 *  for the changes i will be giving them.
**/
.ng-star-inserted .main,
.ng-star-inserted .app-background:not(app-self-assessment-edit *),
app-student-stream.ng-star-inserted,
app-student-to-do.ng-star-inserted,
app-badges.ng-star-inserted,
app-student-courses.ng-star-inserted /* All page backgrounds */ {
  background: var(--t-b-img) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

app-student-stream.ng-star-inserted,
app-student-to-do.ng-star-inserted,
app-course-home.ng-star-inserted .card-ct,
app-badges.ng-star-inserted /* All page paddings */ {
  padding: 10px !important;
}

app-student-courses.ng-star-inserted /* Fix this element */ {
  padding: 0px;
  padding-top: 10px;
}

app-student-activity.ng-star-inserted {
  color: var(--t-w) !important;
}

.ng-star-inserted .main-toolbar, /* DEFAULT */
.ng-star-inserted .mat-tab-labels,
.ng-star-inserted .mat-tab-labels .mat-tab-label,
.ng-star-inserted .toolbar,
.ng-star-inserted .mat-toolbar,
.ng-star-inserted .links-ct,
.ng-star-inserted .objective-speedometer,
.ng-star-inserted .card-ct mat-card .card-top,
.ng-star-inserted .notification,
app-privacy .mat-toolbar,
.app-dark-mode::selection {
  color: var(--t-b-txt) !important;
  background: var(--t-b) !important;
}

::selection /* Follow modal color */ {
  background: var(--primary-200);
  color: var(--t-d);
}

.ng-star-inserted mat-card .color-band, /* A200 */
.ng-star-inserted .cdk-overlay-container mat-dialog-container,
.mat-dialog-container,
.ng-star-inserted .mat-select-panel,
.ng-star-inserted .activity-html,
.ng-star-inserted app-calendar .list-date,
.ng-star-inserted app-calendar .calendar-ct,
.ng-star-inserted app-announcement-detail,
.ng-star-inserted .announcement-list,
.ng-star-inserted .mat-table,
.ng-star-inserted .nav-footer,
::-webkit-scrollbar-thumb,
.no-agenda,
.cdk-drag-preview {
  background: var(--t-b200) !important;
  box-shadow: var(--t-modal-shadow) !important;
}

.ng-star-inserted .mat-card, /* A700 */
.ng-star-inserted .mat-expansion-panel,
::-webkit-scrollbar-thumb:hover,
.not-found {
  background: var(--t-b-theme-bg-trans) !important;
  border-radius: var(--t-modal-border) !important;
}

.cdk-overlay-container > [dir='ltr'] .cdk-overlay-pane .open-animation-border {
  background: var(--primary-300) !important;
}

.note * /* Fix feedback modal background */ {
  background: transparent !important;
  color: var(--t-b-txt) !important;
}

body.app-dark-theme .activity-html span {
  color: var(--t-w) !important;
}

body.app-dark-theme .activity-html li {
  color: var(--t-w) !important;
}

body.app-dark-theme .ng-star-inserted lib-student-grade-details table div {
  background: transparent !important;
}

lib-student-grade-details .selected {
  background: var(--primary-100) !important;
}

.xli-ada-color /* Loader Top-bar */ {
  background: var(--primary-default) !important;
}

body.app-dark-theme lib-standards-rubric-details table td {
  border: 1px solid var(--t-w) !important;
  background: transparent !important;
}

.ng-star-inserted .mat-tab-labels .mat-tab-label,
.ng-star-inserted .mat-tab-labels .mat-tab-label:active,
.ng-star-inserted .mat-tab-labels .mat-tab-label-active {
  background: transparent !important;
}

body.app-light-theme .ng-star-inserted .mat-card lib-managed-html .fr-view *:not(a, a span, a div, .selected *, a u *, span a *) /* Agenda Form View (LIGHT) */ {
  margin: auto !important;
  color: var(--t-b-txt) !important;
}

body.app-dark-theme .ng-star-inserted .mat-card lib-managed-html .fr-view *:not(a, a span, a div, .selected *, a u *, span a *) /* Agenda Form View (DARK) */ {
  background: transparent !important;
  margin: auto !important;
  color: var(--t-w) !important;
}

.ng-star-inserted .mat-badge-content,
.ng-star-inserted .app-large-button-badge {
  background: var(--primary-default) !important;
  color: var(--t-w) !important;
  border-radius: 20px !important;
  padding: 0px !important;
}

.mat-mini-fab {
  background: var(--primary-default) !important;
  color: var(--t-b-txt) !important;
}

.ng-star-inserted simple-snack-bar .mat-button {
  color: var(--primary-default) !important;
}

.mat-checkbox-checked .mat-checkbox-background *,
.ng-star-inserted .mat-accent .mat-pseudo-checkbox-checked {
  background: var(--primary-default) !important;
}

mat-checkbox .mat-checkbox-frame {
	border-width: 1px !important;
	border-radius: 0px !important;
}

mat-checkbox .mat-checkbox-background .mat-checkbox-checkmark-path {
	stroke: var(--t-b-txt) !important;
}

.mat-ripple-element {
  background: var(--primary-400) !important;
  color: var(--t-b200) !important;
  opacity: 0.2;
}

.mat-checkbox-background {
  background: transparent !important;
}

:root body.app-light-theme {
  --t-b: var(--t-w);
  --t-b200: var(--t-w200);
  --t-b700: var(--t-w700);
  --t-b-img: var(--t-light-bg), var(--primary-400);
  --t-b-txt: var(--t-d);
}

:root body.app-dark-theme {
  --t-b: var(--t-d);
  --t-b200: var(--t-d200);
  --t-b700: var(--t-d700);
  --t-b-img: var(--t-dark-bg), var(--primary-400);
  --t-b-txt: var(--t-w);
  --t-b-theme-bg-trans: var(--t-d700);
  --t-b-table-bg: transparent;
  --t-b-table-color: var(--t-w);
}

:root body.app-light-theme.app-theme-red {
  --t-b-theme-bg-trans: #ffebeee0;
}

:root body.app-light-theme.app-theme-pink {
  --t-b-theme-bg-trans: #fce4ece0;
}

:root body.app-light-theme.app-theme-purple {
  --t-b-theme-bg-trans: #f3e5f5e0;
}

:root body.app-light-theme.app-theme-deep-purple {
  --t-b-theme-bg-trans: #ede7f6e0;
}

:root body.app-light-theme.app-theme-indigo {
  --t-b-theme-bg-trans: #e8eaf6e0;
}

:root body.app-light-theme.app-theme-blue {
  --t-b-theme-bg-trans: #e3f2fde0;
}

:root body.app-light-theme.app-theme-light-blue {
  --t-b-theme-bg-trans: #e1f5fee0;
}

:root body.app-light-theme.app-theme-cyan {
  --t-b-theme-bg-trans: #e0f7fae0;
}

:root body.app-light-theme.app-theme-teal {
  --t-b-theme-bg-trans: #e0f2f1e0;
}

:root body.app-light-theme.app-theme-green {
  --t-b-theme-bg-trans: #e8f5e9e0;
}

:root body.app-light-theme.app-theme-light-green {
  --t-b-theme-bg-trans: #f1f8e9e0;
}

:root body.app-light-theme.app-theme-lime {
  --t-b-theme-bg-trans: #f9fbe7e0;
}

:root body.app-light-theme.app-theme-amber {
  --t-b-theme-bg-trans: #fff8e1e0;
}

:root body.app-light-theme.app-theme-orange {
  --t-b-theme-bg-trans: #fff3e0e0;
}
:root body.app-light-theme.app-theme-deep-orange {
  --t-b-theme-bg-trans: #fbe9e7e0;
}

:root body.app-light-theme.app-theme-brown {
  --t-b-theme-bg-trans: #efebe9e0;
}

:root body.app-light-theme.app-theme-grey {
  --t-b-theme-bg-trans: #fafafae0;
}

:root body.app-light-theme.app-theme-blue-grey {
  --t-b-theme-bg-trans: #eceff1e0;
}

:root body.app-light-theme.app-theme-high-contrast /* Default Modal Color */ {
  --t-b-theme-bg-trans: var(--t-w700);
}

/**
 *  CARDS/MAT-CARDS/ECT
 *  ‣ Edits all cards that you see on every page and also sets themes for them
 *  this creates the feeling of a more professional website.
**/
app-student-courses.ng-star-inserted > .home-ct,
app-student-stream.ng-star-inserted mat-card,
app-student-to-do.ng-star-inserted mat-card,
app-choose-theme.ng-star-inserted mat-card,
app-gradebook-dashboard.ng-star-inserted mat-card,
app-course-home.ng-star-inserted mat-card,
lib-grade-details.ng-star-inserted mat-card,
lib-grade-details.ng-star-inserted .main .card-ct mat-card,
app-badges.ng-star-inserted form mat-card,
app-settings.ng-star-inserted form div mat-card  /* Card widths */ {
  width: 100% !important;
  max-width: 100% !important;
}

app-student-courses.ng-star-inserted .home-ct /* fix slight padding change when switching tabs */ {
	padding: 25px 10px 10px 10px;
}

app-settings.ng-star-inserted form {
  padding: 10px !important;
  overflow-x: hidden !important;
}

app-create-task.ng-star-inserted mat-card,
app-order-courses.ng-star-inserted mat-card,
app-self-register.ng-star-inserted mat-card,
.not-found /* Center These */ {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

app-order-courses.ng-star-inserted mat-card {
  margin: 0px !important;
  width: 100%;
}

/**
 *  SETTINGS
 *  ‣ This edits the setting page on ECHO.
**/
app-settings.ng-star-inserted .outer {
  width: 100% !important;
  max-width: 100%;
}

app-settings.ng-star-inserted mat-card[aria-label="Profile picture"]:before {
  content: var(--t-warn-txt);
}

/** 
 *  COURSE HOME
 *  ‣ This edits the course home page.
**/
app-course-home.ng-star-inserted .agendas lib-managed-html .fr-view p * /* Course agenda font-size */ {
  font-size: var(--t-agenda-font-size) !important;
}

app-course-home.ng-star-inserted .mat-divider {
  visibility: hidden !important;
}

app-course-home .mat-tab-header .mat-tab-labels {
  margin-top: 1rem;
}

app-course-home .mat-tab-header .mat-tab-labels {
  background: transparent !important;
}

app-student-courses.ng-star-inserted mat-card-title-group {
  padding-top: 1rem;
}

mat-tree-node:hover {
  background: var(--primary-300) !important;
  border-radius: 5px !important;
  transition: var(--t-glob-animation-time) !important;
  color: var(--t-b-txt) !important;
}

mat-tree-node:hover .title {
  color: var(--t-b-txt) !important;
}

mat-tree-node:focus {
  background: var(--primary-300) !important;
  border-radius: 5px !important;
  transition: var(--t-glob-animation-time) !important;
  color: var(--t-b-txt) !important;
}

mat-tree-node:focus .title {
  color: var(--t-b-txt) !important;
}

mat-tree-node:hover button[mattreenodetoggle] .mat-icon {
  color: var(--t-b-txt) !important;
}

.mat-focus-indicator:focus {
  background: var(--primary-300) !important;
  color: var(--t-b-txt) !important;
}

/**
 *  STUDENT STREAM
 *  ‣ Edits the student activity stream page.
**/
app-student-stream.ng-star-inserted lib-activity-stream .divider {
  border: 1px solid var(--t-b-txt) !important;
  opacity: 0.2;
  margin: 16px 0 16px 48px !important;
}

/** 
 *  GRADE BOOK
 *  ‣ Edits the websites grade book page.
**/
lib-grade-details .mat-tab-header .mat-tab-labels {
  background: transparent !important;
}

lib-grade-details.ng-star-inserted .mat-tab-label-container {
  margin-top: 1rem;
}

lib-grade-details.ng-star-inserted {
  padding: 0px;
}

/**
 *  CALENDER
 *  ‣ Edits the websites calender page.
**/
app-blackout-dates.ng-star-inserted .main .two-columns {
  max-width: none !important;
}

app-blackout-dates.ng-star-inserted {
  padding: 10px;
}

/** 
 *  COURSE (ALl)
 *  ‣ This will edit all things that i cannot seem to list seperatly either b/c
 *  they are to little or i cannot think of one.
**/
.ng-star-inserted mat-card .nav-card .date-header {
  vertical-align: middle !important;
  margin: auto !important;
}

lib-activity-thumbnail mat-icon[role="img"] {
	color: var(--primary-300) !important;
}

app-about .mat-tab-header .mat-tab-labels {
  background: transparent !important;
}

.ng-star-inserted .landing-content * /* Global course description content */ {
  font-size: var(--t-course-desc-font-size) !important;
}

.fail-color {
  color: var(--t-fail-r) !important;
}

.pass-color {
  color: var(--t-pass-g) !important;
}

.warn-color {
  color: var(--t-warn-o) !important;
}

mat-divider.card-divider {
  background: var(--t-b-txt) !important;
  border-top-width: 1px !important;
}

.mat-list-item:hover {
  transition: var(--t-glob-animation-time);
}

.ng-star-inserted .activity-html lib-managed-html .fr-view ul {
  background: transparent !important;
}

.ng-star-inserted mat-drawer-content .activity-html {
  border-radius: 0px !important;
}

.ng-star-inserted .mat-tab-body-content {
  overflow: hidden !important;
}

.ng-star-inserted .search-bar {
  margin: 0px !important;
}

.ng-star-inserted .detail-ct {
  padding: 10px;
}

.ng-star-inserted .mat-tree {
  background: transparent;
}

.ng-star-inserted .title-text,
.ng-star-inserted .focus-title-text {
  background: transparent !important;
  outline: none !important;
  user-select: none !important;
}

.ng-star-inserted .user-menu-button .user-name /* Name Flex Field Fix */ {
  width: max-content !important;
  margin-right: 0px !important;
  flex-direction: row !important;
  column-gap: 5px !important;
}

/**
 *  ORDER COURSE 
 *  ‣ Edits the order course pages draggable elements
**/
app-order-courses .order-drag-row .grip-icon,
.cdk-drag-preview .grip-icon {
  color: var(--foreground-text) !important;
}

app-order-courses .order-drag-row {
	background: transparent !important;
}

mat-chip-list .mat-chip {
  background: var(--t-g200) !important;
  color: var(--t-w) !important;
  border-radius: 5px;
}

app-order-courses.ng-star-inserted mat-card {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0px !important;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ng-star-inserted .fr-view>div span /* Teachers? why? Feedback Modal */ {
  background-color: transparent !important;
  font-size: 15px !important;
}

.ng-star-inserted mat-form-field,
.ng-star-inserted app-filter-box {
  padding: 0px !important;
}

/** 
 *  ANNOUNCEMENTS
 *  ‣ Edits the annoucement page
**/
app-announcement-detail.ng-star-inserted {
  background: var(--t-b700) !important;
}

app-announcement-detail.ng-star-inserted .details .info {
  width: max-content !important;
  background: transparent !important;
  text-align: left;
}

/*app-inbox.ng-star-inserted .list-ct mat-nav-list .selected span {
}*/

app-announcement-detail.ng-star-inserted {
  font-weight: 100 !important;
}

app-inbox.ng-star-inserted .list-ct mat-nav-list .selected {
  background: var(--primary-300) !important;
  transition: var(--t-glob-aimation-period);
  color: var(--t-w) !important;
}

app-announcement-detail.ng-star-inserted lib-managed-html * {
  background: transparent !important;
  color: var(--t-b-txt) !important;
}

.ng-star-inserted .announcement-list {
  background: var(--t-b700) !important;
}

/**
 *  AGENDA
 *  ‣ This customizes the agenda you see in (https://rogershs.echo-ntn.org/student/__ID__/activity) that
 *  updates depending on the theme you choose
*/
.ng-star-inserted .fr-view table {
  width: 100% !important;
}

.ng-star-inserted .fr-view a,
.ng-star-inserted .fr-view a span,
.ng-star-inserted .fr-view a div,
.ng-star-inserted .fr-view a u *,
.ng-star-inserted .fr-view span a * {
  color: var(--primary-default) !important;
  text-decoration: none !important;
  font-weight: 100 !important;
}

.ng-star-inserted lib-rubric-details .fr-view *,
.ng-star-inserted lib-rubric-grader .fr-view * {
  background: transparent !important;
}

body.app-dark-theme .ng-star-inserted .fr-view table:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table thead:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table thead tr:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table thead th:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table tbody:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table tbody tr:not(lib-html-editor *),
body.app-dark-theme .ng-star-inserted .fr-view table tbody td:not(lib-html-editor *) {
  border: 1px solid var(--t-b-txt) !important;
  color: var(--t-b-table-color) !important;
  background: var(--t-b-table-bg) !important;
}

.ng-star-inserted .fr-view table:not(lib-html-editor *),
.ng-star-inserted .fr-view table thead:not(lib-html-editor *),
.ng-star-inserted .fr-view table thead tr:not(lib-html-editor *),
.ng-star-inserted .fr-view table thead th:not(lib-html-editor *),
.ng-star-inserted .fr-view table tbody:not(lib-html-editor *),
.ng-star-inserted .fr-view table tbody tr:not(lib-html-editor *),
.ng-star-inserted .fr-view table tbody td:not(lib-html-editor *) {
  border: 1px solid var(--t-b-txt) !important;
}

.ng-star-inserted .fr-view div,
.ng-star-inserted .fr-view p /* i have no power over tds with backgrounds :( */{
    background: transparent !important;
}

.not-found /* An activity or something that doesn't exist */ {
  font-size: 20px;
  font-style: normal !important;
  text-align: center !important;
  padding: 10px;

  background: var(--t-w700) !important;
  height: min-content !important;

  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0px !important;
  transform: translate(-50%, -50%);

  width: 30rem;
  border-radius: 5px;
}

.no-agenda /* No-Agenda Popup Change */ {
  font-size: 20px;
  font-style: normal !important;
  text-align: center !important;
  padding: 10px;

  margin: 0 auto;
  position: relative;
  width: 30rem;
  border-radius: 5px;
}

.no-agenda:after {
  white-space: pre;
  font-size: 15px;
  content: "\aThis current day has no agenda";
}

/**
 *  OVERLAYS 
 *  ‣ This includes (Tooltips, modals, popups, ect) which modifys it to
 *  function with this theme.
**/
.cdk-overlay-container .mat-menu-item /* Overlay items */ {
  color: var(--t-w) !important;
}

.ng-star-inserted .mat-expansion-panel-body {
  padding: 0px !important;
}

.ng-star-inserted .mat-expansion-panel {
  margin-bottom: 10px;
}

.mat-tooltip /* tooltips */ {
  background: var(--t-b-txt) !important;
  color: var(--background) !important;
  transition: var(--glob-aimation-period);
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-panel /* Panel is fixed color */ {
  background: var(--t-d700) !important;
  color: var(--t-w) !important;
  transition: var(--glob-aimation-period);
}

.cdk-overlay-container .cdk-overlay-pane .mat-menu-panel button:hover {
  background: var(--t-g200) !important;
  transition: var(--t-glob-animation-time);
}

.cdk-overlay-container .mat-divider /* Edits overlay dividers */ {
  background: var(--t-w) !important;
}

/**
 *  TEXT EDITOR
 *  ‣ This edits the text editors ECHO created for submitting work and
 *  for teachers to use to make assignements and more.
**/
.fr-toolbar /* Top-bar Toolbar */ {
  border-radius: 0px !important;
  border: transparent !important;
  background: var(--t-b700) !important;
}

lib-dropbox lib-html-editor /* The actual editor */ {
  border-radius: 0px !important;
  border: transparent !important;
}

.toolbar-ct .dropbox-toolbar {
  min-height: 0px !important;
}

.fr-dropdown-menu {
  background: var(--t-d700) !important;
  color: var(--t-w) !important;
  transition: var(--glob-aimation-period);
}

.submission-grade /* Submission Grades */ {
  padding-bottom: 1rem;
}

.cdk-column-score {
    text-align: left !important;
}

lib-dropbox lib-html-editor .fr-element {
  padding-top: 0.5rem !important;
  color: var(--t-d) !important;
}

.ng-star-inserted lib-dropbox {
  margin-top: 0px !important;
}

lib-dropbox lib-html-editor .fr-view table * {
  border: 1px solid var(--t-d) !important;
}

.fr-selected-color {
  visibility: hidden !important;
  font-size: 0px !important;
}

.fr-selected-color::after {
  content: var(--t-checkmark) !important;
  visibility: visible !important;
  font-size: 15px;
  color: var(--t-g) !important;
}

/**app-after-login lib-html-editor .fr-element #isPasted /* Paste detection  {
  text-decoration: underline !important;
  text-decoration-style: wavy !important;
  text-decoration-color: var(--primary-900) !important;
  font-size: 14px !important;
}**/

/**
 *  HELP IFRAME
 *  ‣ Why this exist?
**/
.JNMth,
#Embed {
  padding: 0px !important;
  background: transparent !important;
  border: 30px !important;
}

/** 
 *  REMOVED ELEMENTS
 *  ‣ Elements removed from the website either because they were not helpful
 *  or didn't provide any design likements.
**/
.ng-star-inserted .user-menu-button lib-profile-picture, /* User Avatar (Navbar) */
.dropdown-icon, /* Profile dropdown arrow */
.ng-star-inserted .toolbar .user-menu-button, /* User Menu button in Toolbar */
app-student-courses.ng-star-inserted .color-band, /* Course Card Color band */
.ng-star-inserted .buzz-login-page-bottom, /* The huge Logo and new tech logo in login screen */
.ng-star-inserted .side-menu-logo-ct, /* Sidemenu ECHO Logo */
.ng-star-inserted .app-title-ct, /* App title */
.ng-star-inserted .logo-ct, /* ECHO Logo */
#cur-proj-id, /* Project ID */
.projects, /* Projects */
.intro,
.save-status-ct, /* Editor auto saves */
.gauge, /* Grade Gauge */ 
.course-dates,
.gauge-progress, /* Grade Gauge Progress */
.course-objectives-info, /* Course Onjective Info */
.app-loading circle, /* App loader circles (Replaced with a cat) */
.skip-nav, /* Odd skip-nav that can sometimes popup */
.ng-star-inserted button[aria-label='Help'], /* Help BTN in navbar */
.course-thumbnail, /* Course Thumbnails in course page */
.ng-star-inserted lib-dropbox .header-ct,
.ng-star-inserted mat-sidenav::-webkit-scrollbar,
.ng-star-inserted mat-sidenav .mat-drawer-inner-container::-webkit-scrollbar,
.cdk-overlay-container>[dir="ltr"] .cdk-overlay-pane .open-animation,
app-student-courses.ng-star-inserted .home-ct .mat-expansion-panel,
app-course-home.ng-star-inserted .course-progress,
a[href="https://accounts.google.com/logout"], /* Why? who tf is gonna log out of all there google accounts?? */
.progress-ct, /* this is just clutter for the main screen */
lib-dropbox lib-html-editor .fr-placeholder,
mat-ink-bar,
.mat-checkbox .mat-checkbox-ripple {
  display: none !important;
}
