/**
 * - Themius Build v3 (https://johnymcreed.github.io/Themius/)
 * This is Themius a usefull redesign for ECHO with powerful changes that make 
 * the users experience more fun than what ECHO provides.
 * 
 * - Info about this
 * This style is designed for BOTH light and dark mode and allows the theme part
 * of echo to still work.
 */
 
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); /* Cabin */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap'); /* Source Code (For #isPasted) */

:root
{    
    --font: 'Cabin', sans-serif;
    --font-code: 'Source Code Pro', monospace;
        
    --rgb-timeout: 100s; /* length in animation */
	--rgb-fit: 50s; /* time till the animation repeats */
	--rgb-ts-colors: #ff24006e, #e81d1d52, #e8b71d59, #bce81d59, #1de8404f, #1ddde866, #2b1de857, #dd00f354, #dd00f378;
	--rgb-colors: #f60000, #a51414, #c59b17, #b8bc0e, #31a544, #48a4a9, #2b1de8, #a518b4, #90199c;
    
    --remove: none;    
    --show: visible;
    --hide: hidden;
    
    /* For overlauys and panels with fixed colors */
    --black: black;
    --black-A200: #000000d4;
    --black-A700: #000000ba;
    --white: white;
    --white-A200: #ffffffe0;
    --white-A700: #ffffffba;
}

/* RGB Key Frames */
@keyframes RGB--TRANSITION {0%{background-position:0% 82%}50%{background-position:100% 19%}100%{background-position:0% 82%}}

body, html, div, span, p
{
    font-family: var(--font) !important;
    transition: 0s;
}

body
{
    background: var(--black) !important;
}

html
{
    background: var(--black) !important;
}

/* Global Element Removals */
.ng-star-inserted .logo-ct,
.ng-star-inserted .buzz-login-page-bottom,
app-student-courses.ng-star-inserted .color-band,
.ng-star-inserted .side-menu-logo-ct,
.ng-star-inserted .app-title-ct,
#cur-proj-id,
.projects,
.intro,
.dropdown-icon,
.ng-star-inserted .user-menu-button lib-profile-picture,
.gauge,
.gauge-progress,
.course-objectives-info,
.ng-star-inserted .toolbar .user-menu-button,
.app-loading circle,
.skip-nav,
.ng-star-inserted .translation,
.ng-star-inserted button[aria-label='Help'],
.course-thumbnail
{
    display: var(--remove) !important;
}

/**
 * App Theme (This is very big cause it affects a lot of elements at the same time)
 * - Light
 * - Dark
 */
/* LIGHT */
body.app-light-theme .ng-star-inserted .mat-card,
body.app-light-theme .ng-star-inserted .mat-expansion-panel
{
    background: var(--white-A700) !important;
}
body.app-light-theme .ng-star-inserted mat-sidenav,
body.app-light-theme .ng-star-inserted mat-card .color-band,
body.app-light-theme .ng-star-inserted .cdk-overlay-container mat-dialog-container,
body.app-light-theme .mat-dialog-container,
body.app-light-theme .ng-star-inserted .mat-select-panel,
body.app-light-theme .ng-star-inserted .activity-html,
body.app-light-theme .ng-star-inserted app-calendar .list-date,
body.app-light-theme .ng-star-inserted app-calendar .calendar-ct,
body.app-light-theme .ng-star-inserted app-announcement-detail,
body.app-light-theme .ng-star-inserted .announcement-list,
body.app-light-theme .ng-star-inserted .mat-table
{
    background: var(--white-A200) !important;
}
body.app-light-theme .ng-star-inserted .main-toolbar,
body.app-light-theme .ng-star-inserted .mat-tab-labels,
body.app-light-theme .ng-star-inserted .mat-tab-labels .mat-tab-label,
body.app-light-theme .ng-star-inserted .toolbar,
body.app-light-theme .ng-star-inserted .links-ct,
body.app-light-theme .ng-star-inserted .objective-speedometer,
::selection
{
    background: var(--white) !important;
    color: black !important;
}
body.app-light-theme .ng-star-inserted .mat-tab-labels .mat-tab-label:active
{
    background: transparent !important;
}
/* DARK */
body.app-dark-theme .ng-star-inserted .main-toolbar,
body.app-dark-theme .ng-star-inserted .mat-tab-labels,
body.app-dark-theme .ng-star-inserted .mat-tab-labels .mat-tab-label,
body.app-dark-theme .ng-star-inserted .toolbar,
body.app-dark-theme .ng-star-inserted .mat-toolbar,
body.app-dark-theme .ng-star-inserted .links-ct,
body.app-dark-theme .ng-star-inserted .objective-speedometer,
::selection
{
    background: var(--black) !important;
    color: white !important;
}
body.app-dark-theme .ng-star-inserted .mat-tab-labels .mat-tab-label:active
{
    background: transparent !important;
}
body.app-dark-theme .ng-star-inserted mat-sidenav,
body.app-dark-theme .ng-star-inserted mat-card .color-band,
body.app-dark-theme .ng-star-inserted mat-dialog-container,
body.app-dark-theme .ng-star-inserted .mat-select-panel,
body.app-dark-theme .mat-dialog-container,
body.app-dark-theme .ng-star-inserted .activity-html,
body.app-dark-theme .ng-star-inserted app-calendar .list-date,
body.app-dark-theme .ng-star-inserted app-calendar .calendar-ct,
body.app-dark-theme .ng-star-inserted app-announcement-detail,
body.app-dark-theme .ng-star-inserted .announcement-list,
body.app-dark-theme .ng-star-inserted .mat-table
{
    background: var(--black-A200) !important;
}
body.app-dark-theme .ng-star-inserted .mat-card,
body.app-dark-theme .ng-star-inserted .mat-expansion-panel
{
    background: var(--black-A700) !important;
} 
body.app-dark-theme .activity-html span
{
    color: white !important;
}
body.app-dark-theme .activity-html li
{
    color: white !important;
}

/**
 * Toolbars/Tooltips/Menus/Ect
 */
.cdk-overlay-container .mat-menu-item
{
    color: white !important;
}
.ng-star-inserted .mat-drawer-backdrop
{
    background: linear-gradient(124deg, var(--rgb-ts-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    transition: 0.5s;
}
.ng-star-inserted .mat-drawer-content
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
}
.ng-star-inserted .main
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
}
.xli-ada-color
{
    background: var(--primary-default) !important;
}
.fail-color
{
    color: #d52525 !important;
}
.pass-color
{
    color: #32741f !important;
}
.warn-color
{
    color: #e1a81d !important;
}
.mat-divider
{
    background: var(--foreground-text) !important;
    border-top-width: 1px !important;
}
.ng-star-inserted mat-sidenav
{
    padding: 10px;
}
.mat-list-item:hover
{
    transition: 0.5s;
}
.mat-tooltip
{
    background: var(--foreground-text) !important;
    color: var(--background) !important;
    transition: 0.5s;
}
.cdk-overlay-container .cdk-overlay-pane .mat-menu-panel /* Panel is fixed color */
{
    background: var(--black-A700) !important;
    color: white !important;
    transition: 0.5s;
}
.cdk-overlay-container .cdk-overlay-pane .mat-menu-panel button:hover
{
    background: #565656b5 !important;
    transition: 0.5s;
}
.ng-star-inserted .user-menu-button .user-name /* Name Flex Field Fix */
{
	margin: -10px;
	flex-direction: row !important;
	column-gap: 5px !important;
}
.ng-star-inserted .user-menu-button
{
    margin-right: -2rem;
}
.ng-star-inserted .app-background
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
}
.ng-star-inserted .mat-badge-content
{ 
	background: var(--primary-default) !important;
	color: var(--white) !important; 
	border-radius: 20px !important;
	padding: 0px !important;
}
.ng-star-inserted .mat-card
{
    border-radius: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.67);
}
.ng-star-inserted .mat-tree
{
    background: transparent;
}
mat-ink-bar
{
    display: none !important;
}
app-root
{
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0px !important;
    background: var(--black) !important;
}
app-root>svg.app-loading 
{
    position: absolute !important;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: none !important;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Juvenile_Ragdoll.jpg/220px-Juvenile_Ragdoll.jpg') !important;
    padding: 100px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    transition: 0s !important;
}
.course-color
{
    background-image: url('https://americanpetsalive.org/uploads/blog/Healthy-Kittens.jpg') !important;
    background-size: 24px 24px; 
}

/**
 * Login page 
 */
app-before-login app-login mat-toolbar.main-toolbar /* Remove Login top bar */
{
    background: transparent !important;
    height: 0px !important;
}
app-before-login app-login mat-toolbar form button
{
    margin-left: 10px !important;
}
.ng-star-inserted .buzz-login-background
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.ng-star-inserted .mat-form-field.mat-accent,
.ng-star-inserted .mat-form-field.mat-accent .mat-input-element
{
    caret-color: transparent !important;
}
.ng-star-inserted .mat-form-field-label
{
    font-size: 17px;
    font-family: var(--font) !important;
}
app-login input
{
    box-shadow: none !important;
}
.ng-star-inserted mat-toolbar form /* Center Loging to screen */
{
    position: absolute;
    left: 50%;
    top: 50%;
    
    background: var(--black-A200) !important;
    box-shadow: none !important;
        
    padding: 100px;
    transform: translate(-50%, -50%);
    white-space: pre;
    transition: 0.5s;
}
.ng-star-inserted mat-toolbar form:before /* Title */
{
    content: "Rogers New Technology Highschool";
    position: absolute;
    
    width: 100%;
    top: 15%;
    font-size: 30px;
    transition: 0.5s;
}
.ng-star-inserted mat-toolbar form:after /* Copyright */
{
    content: "Redesign by Mcreed";
    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 15px;
    transition: 0.5s;
}

/**
 * Course Page 
     - TODO
     - STREAM
     - Announcements
     - Ect
 */
app-student-courses.ng-star-inserted
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    padding: 10px;
}
app-student-stream.ng-star-inserted
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    padding: 10px;
}
app-student-to-do.ng-star-inserted
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    padding: 10px;
}
app-student-courses.ng-star-inserted>.home-ct,
app-student-stream.ng-star-inserted mat-card,
app-student-to-do.ng-star-inserted mat-card,
app-choose-theme.ng-star-inserted mat-card
{
    width: 100%;
    max-width: 100% !important;
}
app-student-courses.ng-star-inserted mat-card-title-group
{
    padding-top: 1rem;
}
app-student-courses.ng-star-inserted mat-card
{
    text-transform: uppercase;
    transition: 0.5s;
}
app-self-register.ng-star-inserted mat-card
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}
app-order-courses.ng-star-inserted mat-card
{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0px !important;
    transform: translate(-50%, -50%); 
}
.ng-star-inserted mat-card:has(.nav-card>.date-header) /* Will warn but works */
{
    display: none !important;
}
.ng-star-inserted .mat-card-image
{
    /*background-image: url('https://media.tenor.com/I_i86IVRiEQAAAAM/rugocica-kickingcat.gif') !important;
    background-size: 280px 30vh !important;*/
    border-radius: 0px !important;
}
.ng-star-inserted mat-form-field,
.ng-star-inserted app-filter-box
{
    padding: 0px !important;
}
app-announcement-detail.ng-star-inserted /* NG-App Announcements */
{
	background: var(--background) !important;
}
app-announcement-detail.ng-star-inserted .details .info
{
    width: max-content !important;
    background: transparent !important;
    text-align: left;
}
app-announcement-detail.ng-star-inserted
{
    font-weight: 100 !important;
}
app-inbox.ng-star-inserted .list-ct mat-nav-list .selected
{
    background: #565656b5 !important;
    transition: 0.5s;
}
app-announcement-detail.ng-star-inserted lib-managed-html *
{
	background: transparent !important;
	color: var(--foreground-text) !important;
}
.ng-star-inserted .announcement-list
{
	background: var(--background) !important;
}

/**
 * Course Page
 */
.ng-star-inserted app-course-home .card-ct
{
    background: linear-gradient(124deg, var(--rgb-colors));
	background-size: 1800% 1800%;
    -webkit-animation: RGB--TRANSITION var(--rgb-timeout) ease infinite;
  	animation: RGB--TRANSITION var(--rgb-fit) ease infinite;
    padding: 10px;
}
app-course-home.ng-star-inserted mat-card
{
    width: 100%;
    max-width: 100% !important;
}
.ng-star-inserted .activity-html lib-managed-html .fr-view ul
{
    background: transparent !important;
}
.ng-star-inserted .mat-tab-body-content
{
	overflow: hidden !important;
}
.ng-star-inserted .search-bar
{
	margin: 0px !important;
}
.ng-star-inserted .detail-ct
{
    padding: 10px;
}

/**
 * Agenda Inside Course Page 
 */
body.app-dark-theme .ng-star-inserted .mat-card lib-managed-html .fr-view *:not(a, a span, a div) /* Agenda Form View (DARK) */
{
	background: transparent !important;
	margin: auto !important;
	color: var(--foreground-text) !important;
}
body.app-light-theme .ng-star-inserted .mat-card lib-managed-html .fr-view *:not(a, a span, a div) /* Agenda Form View (LIGHT) */
{
    margin: auto !important;
	color: var(--foreground-text) !important;
}
.ng-star-inserted .fr-view table
{
	width: 100% !important;
}
.ng-star-inserted .fr-view a, 
.ng-star-inserted .fr-view a span,
.ng-star-inserted .fr-view a div
{
    color: var(--primary-default) !important;
    text-decoration: none !important;
    font-weight: 100 !important;
}
.ng-star-inserted lib-rubric-details .fr-view *,
.ng-star-inserted lib-rubric-grader .fr-view *
{
	background: transparent !important;
}
.ng-star-inserted .fr-view table,
.ng-star-inserted .fr-view table thead,
.ng-star-inserted .fr-view table thead tr,
.ng-star-inserted .fr-view table thead th,
.ng-star-inserted .fr-view table tbody,
.ng-star-inserted .fr-view table tbody tr,
.ng-star-inserted .fr-view table tbody td
{
	border: 1px solid var(--foreground-text) !important;
}
.no-agenda /* No-Agenda Popup Change */
{
	font-size: 20px;
	font-style: normal !important;
	text-align: center !important;
	padding: 10px;
	color: var(--ng-white) !important; /*background won't apply to color*/
}

/** 
 * Paste Detection
 */
.ng-star-inserted lib-html-editor .fr-element #isPasted:hover:before /* Hover the star and this showsup */
{
    content: "This item is pasted and will be seen by teachers.";
    position: absolute;
    
    width: 20rem;
    left: 0;
    right: 0;
    top: 2rem;
    text-align: center !important;
    
    transition: 0.5s;
    
    padding: 10px;
    background: var(--black-A200);
    
	white-space: pre;
    color: white !important;
}
.ng-star-inserted lib-html-editor .fr-element #isPasted
{
	text-decoration: underline !important;
    text-decoration-style: wavy !important;
    text-decoration-color: red !important;
    
	padding: 3.5px !important;
	font-size: 14px !important;
	cursor: pointer;
}
