/* REQUIRES LIGHT */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root
{    
	/* Background Elements */
	--ng-background: white; 
	--ng-card-background: white;
	
    --foreground-text: rgba(0, 0, 0, .87);
    --foreground-disabled-text: rgba(0, 0, 0, .38);
    --secondary-text: rgba(0, 0, 0, .54);
    --background: #fafafa;
    --background-hover: #f5f5f5;
    --background-dialog: white;
    --divider-color: rgba(0, 0, 0, .12);
    --card-background: white;
    --card-layout-background: #EDEDED;
    --pass-color: green;
    --fail-color: #b30000;
    --warn-color: #b30000;
    
	/* Link Color */
	--ng-link-color: var(--link-color);
	
	/* Fonts */
	--ng-default-font: 'Source Sans Pro', sans-serif; /* Overrides Default ECHO Font */
	/* Other Optional Fonts:
		- 'Roboto Condensed', sans-serif
		- 'Raleway', sans-serif
	*/
	
	/* unused cuz i didn't break them this time */
	/*--ng-fab-font: "Font Awesome 5 Brands";
	--ng-far-font: "Font Awesome 5 Pro";*/
	
	/* Non-Overrided Colors */
	--ng-linear-gradient: #235a7c 0%, #5c5ca3 52%, #367683 100%;
	--ng-white: white;
	--ng-black: black;
	--ng-grey: #3e3e3e;
	--ng-tree-node-bg: #727272b0;
	--ng-paste-color: #6c6c6d;
	
	/* Visuals */
	--ng-visually-removed: none;
	--ng-visually-hidden: hidden;
	--ng-visually-visible: visible;
	
	/* RGB-Settings; Color Palette */
	--ng-rgb-ease-fit: 30s; /* length in animation */
	--ng-rgb-fit: 50s; /* time till the animation repeats */
	--ng-rgb-ts-colors: #ff24006e, #e81d1d52, #e8b71d59, #bce81d59, #1de8404f, #1ddde866, #2b1de857, #dd00f354, #dd00f378;
	--ng-rgb-colors: #c91c00, #c02d2d, #c59b17, #b8bc0e, #1c9a31, #269298, #2b1de8, #a518b4, #90199c;
}

/**
** It is completely your choice to go below and edit elements but i recommend not doing that if
** you do not know what css is or cannot code in it properly.
**/

html, body
{
	background: white !important;
    color: black;
}

/* Rainbow Keyframe */
@keyframes RGB--TRANSITION {0%{background-position:0% 82%}50%{background-position:100% 19%}100%{background-position:0% 82%}}

/* Font Change */
body, div, span
{	
	/* Font Layout */
	font-weight: lighter !important;
	font-language-override: "ENG" !important;
	font-feature-settings: normal !important;
	font-family: var(--ng-default-font) !important;
}

/* App Background */
.ng-star-inserted .app-background
{	
	background: linear-gradient(124deg, var(--ng-rgb-colors));
	background-size: 1800% 1800%;
	-webkit-animation: RGB--TRANSITION var(--ng-rgb-ease-fit) ease infinite;
  	animation: RGB--TRANSITION var(--ng-rgb-fit) ease infinite;
}

/* General Box Fixes */
.ng-star-inserted:not(.status)
{
	border-radius: 0px !important;
	box-shadow: none !important;
	border: 0px !important;
}

/* Badge-Content Color Change */
.ng-star-inserted .mat-badge-content
{ 
	/* why do you make this a different color to the theme bruh */
	background: var(--primary-default) !important;
	color: var(--ng-white) !important; 
	border-radius: 20px !important;
	padding: 0px !important;
}

.ng-star-inserted .mat-ink-bar
{
	display: none !important;
}

/* App Loaderv */
.app-loading circle
{
	fill: var(--ng-grey);
}

/* Webkit Userintegrated Scrollbar */
::-webkit-scrollbar{width: 4px;height: auto;}
::-webkit-scrollbar-track{background: transparent;}
::-webkit-scrollbar-thumb /* Background */
{
	background: linear-gradient(33deg, var(--ng-linear-gradient));
}

/* Removed Elements */
.ng-star-inserted .logo-ct,
.ng-star-inserted .buzz-login-logo,
.ng-star-inserted .app-title,
.ng-star-inserted .app-title-ct,
.ng-star-inserted .app-focus-overlay,
.ng-star-inserted .side-menu-logo,
.ng-star-inserted .side-menu-logo-ct,
.ng-star-inserted .mat-divider-horizontal,
.ng-star-inserted mat-divider,
.ng-star-inserted .user-menu-button mat-icon,
.ng-star-inserted .header-buttons,
.ng-star-inserted .detail-ct,
.ng-star-inserted .toolbar .user-menu-button,
.ng-star-inserted .course-progress,
.ng-star-inserted .color-band .course-dates,
.ng-star-inserted .projects,
#cur-proj-id,
.ng-star-inserted .links-ct .links .intro,
.ng-star-inserted .toolbar-grade .sbg-icon,
.translation,
snack-bar-container,
.ng-star-inserted .mat-snack-bar-container,
.skip-nav,
.ng-star-inserted .home-ct .course-card .mat-card-image,
.ng-star-inserted .student-objective-summary,
.ng-star-inserted .course-objectives-info 
{
	display: var(--ng-visually-removed) !important;
}

/** Tabbar */
.ng-star-inserted .main-toolbar 
{
	background: transparent !important;
	box-shadow: none !important;
	color: var(--foreground-text) !important;
}
.ng-star-inserted .main-toolbar .mat-form-field .mat-input-element
{
	box-shadow: none !important;
	background: transparent !important;
}
.ng-star-inserted .toolbar
{
	background: transparent !important;
}

/** Tabbar Header */
.ng-star-inserted .mat-tab-group .mat-tab-header /* Background */
{
	background: transparent !important;
}
.ng-star-inserted .user-menu-button .user-name /* Name Flex Field Fix */
{
	margin: -10px;
	flex-direction: row !important;
	column-gap: 5px !important;
}
.ng-star-inserted .user-menu-button lib-profile-picture /* Name Avatar */
{
	margin: -10px;
	max-width: 2.4rem;
	height: auto;
}
.ng-star-inserted .user-menu-button lib-profile-picture img
{
	border-radius: 100px;
	max-width: 2.4rem;
	height: auto;
}

/** Login Page */
.ng-star-inserted .buzz-login-background
{
	height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(124deg, var(--ng-rgb-colors));
	background-size: 1800% 1800%;

	-webkit-animation: RGB--TRANSITION var(--ng-rgb-ease-fit) ease infinite;
  	animation: RGB--TRANSITION var(--ng-rgb-fit) ease infinite;
}
.ng-star-inserted .buzz-login-content .buzz-login-content-title
{
	width: 100% !important;
	height: 100% !important;
	align-self: center !important;
	margin-top: 4rem !important;
	font-weight: 700 !important;
	font-family: var(--ng-default-font) !important;
}

/** Sidebar */
.ng-star-inserted .mat-drawer-backdrop
{
	height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	
	background: linear-gradient(124deg, var(--ng-rgb-ts-colors));
	background-size: 1800% 1800%;

	-webkit-animation: RGB--TRANSITION var(--ng-rgb-ease-fit) ease infinite;
  	animation: RGB--TRANSITION var(--ng-rgb-fit) ease infinite;
}

/** Page (Theme) */
.ng-star-inserted app-choose-theme div .mat-card
{
	max-width: 100% !important;
	height: auto !important;
}

/** Page (Courses) */
.ng-star-inserted .home-ct /* Coruse Selection Grid */
{
	width: 100% !important;
	height: auto !important;	
	overflow: auto !important;
}
.ng-star-inserted .home-ct .course-card
{
	border-radius: 0px !important;
	height: auto !important;
}
.ng-star-inserted .home-ct .course-card .mat-card-title-group
{
	margin-top: 1.5rem !important;
}
.ng-star-inserted .mat-tab-label-content
{
	height: auto;
	font-weight: bolder !important;
	background: var(--ng-tree-node-bg) !important;
	color: var(--ng-white) !important; /*background won't apply to color*/
	border-radius: 2px !important;
	padding: 6px;
}

/** Page (TODO) */
.ng-star-inserted app-student-to-do .mat-card
{
	width: 100% !important;
	height: auto !important;
}
.ng-star-inserted app-student-to-do 
{
	padding: 24px 16px 0px;
}

/** Page (Activity Stream) */
.ng-star-inserted app-student-stream .mat-card
{
	max-width: 100% !important;
	height: auto !important;
}
.ng-star-inserted app-student-stream
{
	padding: 24px 16px 0px;
}

/** Page (Calendar) */
.ng-star-inserted app-calendar
{
	background: var(--background) !important;
}

/** Anounncement Page */
app-announcement-detail.ng-star-inserted /* NG-App Announcements */
{
	background: var(--background) !important;
}
app-announcement-detail.ng-star-inserted lib-managed-html *
{
	background: transparent !important;
	color: var(--foreground-text) !important;
}
.ng-star-inserted .announcement-list
{
	background: var(--background) !important;
}

/** Activity Course Box */
.ng-star-inserted .color-band /* Color band */
{
	background: linear-gradient(33deg, var(--ng-linear-gradient));
	border-radius: 0px !important;
}
.ng-star-inserted .mat-card
{
	border-radius: 0px !important;
}
.ng-star-inserted .mat-card lib-managed-html .fr-view *:not(a) /* Agenda Form View */
{
	margin: auto !important;
	color: var(--foreground-text) !important;
}
.ng-star-inserted lib-rubric-details .fr-view *,
.ng-star-inserted lib-rubric-grader .fr-view *
{
	background: transparent !important;
}
.ng-star-inserted .fr-view table
{
	width: 100% !important;
}
.ng-star-inserted .mat-card lib-managed-html .fr-view a *
{
	text-decoration: none !important;
}
.ng-star-inserted .fr-view table,
.ng-star-inserted .fr-view table thead,
.ng-star-inserted .fr-view table thead tr,
.ng-star-inserted .fr-view table thead th,
.ng-star-inserted .fr-view table tbody,
.ng-star-inserted .fr-view table tbody tr,
.ng-star-inserted .fr-view table tbody td
{
	border: 1px solid var(--foreground-text) !important;
}
.no-agenda /* No-Agenda Popup Change */
{
	background: linear-gradient(33deg, var(--ng-linear-gradient));
	font-size: 20px;
	font-style: normal !important;
	text-align: center !important;
	padding: 10px;
	color: var(--ng-white) !important; /*background won't apply to color*/
}
.ng-star-inserted .search-bar
{
	margin: 0px !important;
}
.ng-star-inserted .landing-content
{
	padding: 7px !important;
	margin: auto !important;
}
.ng-star-inserted .mat-tab-body-content
{
	overflow: hidden !important;
}

/** Activity Grading Bar */
.ng-star-inserted .links
{
	background: var(--background) !important;
}
.ng-star-inserted .toolbar-grade .s-status-feedback /* Feedback icon */
{
	padding: 10px !important;
}
mat-tree mat-tree-node[aria-expanded="true"] a div /* Hint to a open folder */
{
	font-weight: bolder;
	background: var(--ng-tree-node-bg);
	border-radius: 4px;
	color: var(--ng-white) !important; /*background won't apply to color*/
}
mat-tree mat-tree-node[aria-expanded="false"] a div /* If not expanded follow color rule */
{
	color: var(--foreground-text); 
}

/** Grading Page */
.ng-star-inserted .data-row .data-cell .rubric-row .table .rubric-header * /* Global Rubric Header */
{
	color: var(--foreground-text) !important;
}
.ng-star-inserted .data-row .data-cell .rubric-row .table .selected .rubric-rule-description * /* Global Selected Row */
{
	width: 100%;
	height: 100%;
	background: #455A64 !important;
}

/** Paste Detection System */
.ng-star-inserted lib-html-editor .fr-element #isPasted:before /* Inserts a text to warn the user that ECHO detected this paste */
{
	content:"* ";
	color: var(--ng-paste-color) !important;
	font-weight: 300;
	text-decoration: none !important;
} 
.ng-star-inserted lib-html-editor .fr-element #isPasted:hover:before /* Hover the star and this showsup */
{
	content:"Paste is detected ";
	white-space: pre;
}
.ng-star-inserted lib-html-editor .fr-element #isPasted
{
	background: var(--accent-lighter) !important;
	padding: 3.5px !important;
	font-size: 14px !important;
	text-decoration: none !important;
	cursor: pointer;
}
